<div class="m-4">
  <div class="card">
    <div class="card-header">
      <h2>List of Activities</h2>
    </div>
    <div class="card-body">
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let activity of activities">
          <div class="row">
            <div class="col-sm-4">
              {{activity.activityName}}
            </div>
            <div class="col-sm-4">
              <button type="button" id="btnDelete" name="btnDelete"
                      class="btn btn-danger btn-sm me-4" (click)="btnDelete_click(activity)"
              >Delete</button>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>

