<header>

  <nav class="nav justify-content-left">

    <a class="nav-link" routerLink="/home">Home</a>
    <a class="nav-link" routerLink="/food">Food Journal</a>
    <a class="nav-link" routerLink="/addfood">Add a Food</a>
    <a class="nav-link" routerLink="/activity">Activity Journal</a>
    <a class="nav-link" routerLink="/addactivity">Add an Activity</a>
    <a class="nav-link" routerLink="/about">About</a>
    <a class="nav-link" routerLink="/camera">Camera</a>
  </nav>

</header>
<ul data-role="listview" class="ui-listview-inset"  id="lstViewReviews">

  <li>
      <h2>Christopher Magnus</h2>
      <p>8799889</p>
      <p>Cmagnus9889@conestogac.on.ca</p>
  </li>

  <li>
      <h2>Dylan Cassel</h2>
      <p>8683791</p>
      <p>Dcassell3791@conestogac.on.ca</p>

  </li>

  <li>
    <h2>Dohee Hur</h2>
    <p>8791345</p>
    <p>dhur1345@conestogac.on.ca</p>

  </li>

  <li>
    <h2>Connor Jensen</h2>
    <p>8656945</p>
    <p>cjensen6945@conestogac.on.ca</p>

  </li>

</ul>
