<header>

  <h1>Welcome Back, {{_user.firstName}} {{_user.lastName}}</h1>

</header>

<section data-role="content">

  <div class="mt-2">

  <div class="container mt-2 col-md-12">

    <div class="row">

      <div class="col">

        <table class="table table-striped">

          <tr>

            <th>

              Your Information

            </th>

          </tr>

          <tr>

            <td>Gender: </td>
            <td>{{_user.gender}}</td>

          </tr>

          <tr>

            <td>Height: </td>
            <td>{{_user.userHeight}}</td>

          </tr>

          <tr>

            <td>Current Weight: </td>
            <td>{{_user.userWeight}}</td>

          </tr>

        </table>

      </div>

      <div class="col">

        <table class="float-end table-striped">

          <tr>

            <th>Your Goals: </th>

          </tr>

          <tr>

            <td>Goal Weight: </td>
            <td>{{goalWeight}}</td>

          </tr>

          <tr>

            <td>Net Calories Target: </td>
            <td>{{netCaloriesTarget}}</td>

          </tr>

          <tr>

            <td>Goal Protein Intake: </td>
            <td>{{goalProteinIntake}}</td>

          </tr>

        </table>

      </div>

    </div>

    <div class="row">

      <div class="col d-flex justify-content-center">

        <table class="table-striped">

          <tr>

            <th>{{currentDate}}</th>

          </tr>

          <tr>

            <td>Calories Consumed: </td>
            <td>{{caloriesIn}}</td>

          </tr>

          <tr>

            <td>Calories Burned: </td>
            <td>{{caloriesOut}}</td>

          </tr>

          <tr>

            <td>Protein In: </td>
            <td>{{proteinIn}}</td>

          </tr>

          <tr>

            <td>Net Calories: </td>
            <td>{{netCalories}}</td>

          </tr>

        </table>

      </div>

    </div>

  </div>

  </div>

  <a class="nav-link" routerLink="">

    <button>Logout</button>

  </a>

</section>
