<header>

  <nav class="nav justify-content-left">

    <a class="nav-link" routerLink="/home">Home</a>
    <a class="nav-link" routerLink="/food">Food Journal</a>
    <a class="nav-link" routerLink="/addfood">Add a Food</a>
    <a class="nav-link" routerLink="/activity">Activity Journal</a>
    <a class="nav-link" routerLink="/addactivity">Add an Activity</a>
    <a class="nav-link" routerLink="/about">About</a>
    <a class="nav-link" routerLink="/camera">Camera</a>
  </nav>

</header>
<div class="m-4">
  <div class="card">
    <div class="card-header">
      <h2>List of Foods</h2>
    </div>
    <div class="card-body">
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let food of foods">
          <div class="row">
            <div class="col-sm-4">
              Name : {{food.foodName}}<br>
              Protein (grams): {{food.proteinGrams}}<br>
              Carbohydrates (grams): {{food.carbGrams}}<br>
              Fats (grams): {{food.fatGrams}}<br>
            </div>
            <!--This modify button could be added, but it needs a modify component-->
<!--            <div class="col-sm-4">
              <button type="button" id="btnModify" name="btnModify"
                      class="btn btn-primary btn-sm me-4" (click)="btnModify_click(food)"
              >Modify</button>
            </div>-->
            <div class="col-sm-4">
              <button type="button" id="btnDelete" name="btnDelete"
                      class="btn btn-danger btn-sm me-4" (click)="btnDelete_click(food)"
              >Delete</button>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
