<header>

  <nav class="nav justify-content-left">

    <a class="nav-link" routerLink="/home">Home</a>
    <a class="nav-link" routerLink="/food">Food Journal</a>
    <a class="nav-link" routerLink="/activity">Activity Journal</a>
    <a class="nav-link" routerLink="/about">About</a>
    <a class="nav-link" routerLink="/camera">Camera</a>
  </nav>
</header>

<div class="m-4">
  <div class="card">
    <div class="card-header">
      <h2>Add a Food</h2>
    </div>
    <div class="card-body">
      <form #foodForm="ngForm">
        <div class="mb-3">
          <label for="txtFoodName" class="form-label">Food Name</label>
          <input
            type="text"
            id="txtFoodName"
            name="txtFoodName"
            class="form-control"
            required minlength="2"
            [(ngModel)]="objFood.foodName"
            #foodName="ngModel">
        </div>

        <div *ngIf="foodName.invalid && (foodName.dirty || foodName.touched)"
             class="alert">
          <small *ngIf="foodName.errors?.['required']" [ngClass]="'validation-error'">
            A food name is required.
          </small>
          <small *ngIf="foodName.errors?.['minlength']" [ngClass]="'validation-error'">
            Name must be at least 2 characters long.
          </small>
        </div>

        <div class="mb-3">
          <label for="txtCalories" class="form-label">Calories</label>
          <input type="number" id="txtCalories" name="txtCalories" class="form-control"
                 required max="9999"
                 [(ngModel)]="objFood.calories" #calories="ngModel">
        </div>

        <div *ngIf="calories.invalid && (calories.dirty || calories.touched)"
             class="alert">
          <small *ngIf="calories.errors?.['required']" [ngClass]="'validation-error'">
            Calories are required.
          </small>
          <small *ngIf="calories.errors?.['max']" [ngClass]="'validation-error'">
            Maximum value allowed is 9999
          </small>
        </div>

        <div class="mb-3">
          <label for="txtFatGrams" class="form-label">Grams of Fat</label>
          <input type="number" id="txtFatGrams" name="txtFatGrams" class="form-control"
                  max="9999"
                 [(ngModel)]="objFood.fatGrams" #fatGrams="ngModel">
        </div>

        <div *ngIf="fatGrams.invalid && (fatGrams.dirty || fatGrams.touched)"
             class="alert">
          <small *ngIf="fatGrams.errors?.['max']" [ngClass]="'validation-error'">
            Maximum value allowed is 9999
          </small>
        </div>

        <div class="mb-3">
          <label for="txtCarbGrams" class="form-label">Grams of Carbohydrates</label>
          <input type="number" id="txtCarbGrams" name="txtCarbGrams" class="form-control"
                 max="9999"
                 [(ngModel)]="objFood.carbGrams" #carbGrams="ngModel">
        </div>

        <div *ngIf="carbGrams.invalid && (carbGrams.dirty || carbGrams.touched)"
             class="alert">
          <small *ngIf="carbGrams.errors?.['max']" [ngClass]="'validation-error'">
            Maximum value allowed is 9999
          </small>
        </div>

        <div class="mb-3">
          <label for="txtProteinGrams" class="form-label">Grams of Protein</label>
          <input type="number" id="txtProteinGrams" name="txtProteinGrams" class="form-control"
                 max="9999"
                 [(ngModel)]="objFood.proteinGrams" #proteinGrams="ngModel">
        </div>

        <div *ngIf="proteinGrams.invalid && (proteinGrams.dirty || proteinGrams.touched)"
             class="alert">
          <small *ngIf="proteinGrams.errors?.['max']" [ngClass]="'validation-error'">
            Maximum value allowed is 9999
          </small>
        </div>

        <!--<div class="mb-3">
          <label for="txtUserId" class="form-label">Date Eaten</label>
          <input type="text" id="txtUserId" name="txtUserId" class="form-control"
                 max="9999"
                 [(ngModel)]="objFood.userId">
        </div>

        <div class="mb-3">
          <label for="txtDateEaten" class="form-label">Date Eaten</label>
          <input type="dateTime" id="txtDateEaten" name="txtDateEaten" class="form-control"
                 max="9999"
                 [(ngModel)]="objFood.dateEaten">
        </div>-->

        <div class="form-group">
          <button type="button" id="btnAdd" name="btnAdd"
                  class="btn btn-primary"
                  (click)="btnAdd_click()" [disabled]="!foodForm.valid">
            Add User
          </button>
        </div>
      </form>
    </div>
    <p *ngIf="!foodForm.valid" [ngClass]="'validation-error'"></p>
    <div class="card-footer">
      {{foodForm.value | json}}
    </div>
  </div>
</div>
<div class="m-4">
  <div class="card">
    <div class="card-header">
      <h2>List of Foods</h2>
    </div>
    <div class="card-body">
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let food of foods">
          <div class="row">
            <div class="col-sm-4">
              {{food.foodName}}
            </div>  <!--This modify button could be added, but it needs a modify component-->
<!--            <div class="col-sm-4">
              <button type="button" id="btnModify" name="btnModify"
                      class="btn btn-primary btn-sm me-4" (click)="btnModify_click(food)"
              >Modify</button>
            </div>-->
            <div class="col-sm-4">
              <button type="button" id="btnDelete" name="btnDelete"
                      class="btn btn-danger btn-sm me-4" (click)="btnDelete_click(food)"
              >Delete</button>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
