<header>

  <nav class="nav justify-content-left">

    <a class="nav-link" routerLink="/home">Home</a>
    <a class="nav-link" routerLink="/food">Food Journal</a>
    <a class="nav-link" routerLink="/addfood">Add a Food</a>
    <a class="nav-link" routerLink="/activity">Activity Journal</a>
    <a class="nav-link" routerLink="/addactivity">Add an Activity</a>
    <a class="nav-link" routerLink="/about">About</a>
    <a class="nav-link" routerLink="/camera">Camera</a>
  </nav>

</header>
<div style="text-align:center">
  <div>
    <webcam [height]="500" [width]="500" [trigger]="triggerObservable" (imageCapture)="handleImage($event)" *ngIf="showWebcam" [switchCamera]="nextWebcamObservable" [videoOptions]="videoOptions"
            (initError)="handleInitError($event)"></webcam>
    <br/>
    <div class="actionBtn" (click)="triggerSnapshot();" title="Take Picture">Take Picture</div>
  </div>
</div>
<h4 *ngIf="errors.length > 0">Messages:</h4>
<ul *ngFor="let error of errors">
  <li>{{error | json}}</li>
</ul>
