<div class="m4">
  <a class="btn btn-secondary btn-sm" routerLink="/login/adduser">Add User</a>
</div>

<div class="m-4">
  <div class="card">
    <div class="card-header">
      <h2>Login</h2>
    </div>
    <div class="card-body">
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let user of users">
          <div class="row">
            <div class="col-sm-4">
              {{user.firstName}} {{user.lastName}}
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
